$lime: #7ed321;
$yellow: #ffe600;
$orange: #ff6f1b;
$black: #181818;
$white: #fff;

:root {
  --color-lime: #7ed321;
  --color-yellow: #ffe600;
  --color-orange: #ff6f1b;
  --color-black: #181818;
  --color-white: #fff;
}
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
